@model long

@using (Html.BeginForm())
{
    @Html.Hidden("id", Model)
    <h2>Delete User</h2>
    <text>Are u sure u want to delete this user?</text>
    <input type="submit" value="Yes" class="btn btn-danger" />
}